First we import our libraries as normal

In [1]:
import numpy as np
import pandas as pd

Next we need to find where we are, and get to where our data is

In [2]:
pwd

'/Users/joshua/Development/business-analysis/Tutorials'

In [3]:
ls ../Data

BlackFriday.csv*		sales_data_sample.csv
brazilian-ecommerce/		sales_data_sample.xlsx
customer_data.xlsx		sales_data_sample_no_customer.xlsx
government_purchase_orders.csv	san_francisco_purchase_data.csv
part_usage_trailing_12.xlsx	total-business-inventories-and-sales-data/
purchases_by_vendor.xlsx

As we showed in the "Loading Data for Analysis" tutorial, we now need to load the data we will be looking at / working with

In [5]:
sales_sheet = pd.read_excel('../Data/sales_data_sample.xlsx')

... and let's take a look to make sure we got what we were expecting...

In [6]:
sales_sheet.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2003-02-24,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,2003-05-07,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,2003-07-01,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,2003-08-25,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,4900.00,2003-10-10,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

To simplify the different functions you can call on an array (specifically a numpy array), I am going to isolate just the sales column of the dataframe and create a numpy array from it.

In [7]:
sales = np.array(sales_sheet['SALES'])

In order to **sum** the column...

In [30]:
np.sum(sales)

8290886.789999999

In order to find the **max** of the column...

In [31]:
np.max(sales)

9048.16

In order to find the **min** of the column...

In [8]:
np.min(sales)

482.13

With some of the aggregation functions, you can call them directly on the array itself like this

In [9]:
sales.sum()

8290886.789999999

In [10]:
sales.max()

9048.16

In [53]:
sales.min()

482.13

You can also get *where* the min and max are by preceding it with arg. This returns the index of where the min and max were found.

In [54]:
sales.argmin()

2249

... and just to test it, let's call the sales figure at that location...

In [55]:
sales[2249]

482.13

Yup!

Let's look at some more complex aggregation functions.

Let's say you didn't have the **sales** column, but only each individual line item. Numpy combines arrays "element-wsie", so you can just multiply a **quantity** array by an a **price** array and get sales for each line item.

In [11]:
quantity = np.array(sales_sheet['QUANTITYORDERED'])
prices = np.array(sales_sheet['PRICEEACH'])

In [12]:
sales_2 = quantity * prices

... and just to test, we can take the sum to see if it is the same as above.

In [13]:
sales_2.sum()

8290886.789999999

You can also grab the **mean**, **median**, and **standard deviation**.

In [14]:
sales.mean()

2936.9064080765143

In [15]:
np.median(sales)

2800.0

In [52]:
np.std(sales)

1105.44843850813

In order to grab the cutoff for a percentile, you can simply use the **percentile** function for numpy arrays.

In [44]:
np.percentile(sales, 20)

1995.9279999999999

Then, to get the top 20% of sales figures, you could run...

In [46]:
sales[sales >= np.percentile(sales,20)]

array([2871.  , 2765.9 , 3884.34, ..., 4300.  , 2116.16, 3079.44])

... and to get the bottom 80%...

In [47]:
sales[sales < np.percentile(sales,20)]

array([1451.  ,  733.11, 1329.9 , 1822.17, 1201.25, 1962.22, 1900.  ,
       1735.3 , 1200.  , 1888.26, 1466.91, 1809.5 , 1000.  , 1800.24,
       1340.64, 1762.08, 1628.  , 1939.2 , 1484.2 , 1685.42, 1627.92,
       1517.88, 1749.79, 1958.88, 1960.14, 1167.25, 1516.62, 1746.6 ,
       1742.4 , 1423.29, 1504.12, 1164.4 , 1500.75, 1557.36, 1345.68,
       1795.24, 1105.25, 1237.95, 1593.02, 1320.75, 1293.75, 1449.76,
       1611.4 , 1364.25, 1262.8 , 1626.24, 1339.8 , 1930.39, 1832.6 ,
        974.1 , 1746.63, 1463.7 , 1608.  , 1496.64, 1879.74, 1495.26,
       1643.12, 1322.16, 1423.8 , 1574.  , 1729.  , 1834.5 , 1331.1 ,
       1236.84,  728.4 ,  600.  , 1189.98, 1667.4 , 1859.7 , 1476.6 ,
       1732.  , 1674.17, 1500.98, 1797.58, 1701.7 , 1694.  ,  935.18,
       1490.16, 1824.72, 1570.17, 1482.6 , 1853.4 , 1490.1 , 1605.  ,
       1944.3 , 1986.8 , 1695.96, 1281.56, 1774.22,  981.2 , 1550.72,
       1771.06, 1864.8 , 1142.41, 1172.6 , 1264.08,  990.78, 1687.4 ,
       1308.  , 1448.  ,  881.4 , 1801.24, 1424.  , 1499.1 , 1504.16,
       1244.16, 1888.88, 1820.01, 1394.16, 1871.83, 1559.04, 1880.2 ,
       1224.67, 1237.88, 1665.32, 1878.66, 1553.58, 1987.02, 1146.5 ,
       1908.28, 1801.2 , 1592.  , 1978.62, 1781.22, 1658.88, 1476.48,
       1534.95, 1855.41, 1777.1 , 1536.57, 1705.41, 1527.8 , 1668.5 ,
       1875.09, 1765.66, 1740.9 , 1357.86, 1057.56, 1357.72, 1638.04,
       1661.88, 1454.7 , 1657.57, 1879.92, 1863.4 , 1266.1 , 1903.22,
       1584.66,  541.14, 1685.28, 1834.36, 1916.98, 1790.6 , 1640.24,
       1207.68, 1668.37, 1938.89, 1254.83, 1282.8 , 1345.75, 1972.  ,
       1835.98, 1119.93, 1569.75, 1257.27, 1502.78, 1676.2 , 1916.64,
       1556.62, 1629.04, 1327.79, 1906.5 , 1575.08, 1688.43, 1672.1 ,
       1674.75, 1649.18, 1713.8 , 1506.5 , 1249.4 , 1265.46, 1681.46,
       1944.54, 1307.32, 1726.37, 1267.77, 1987.18, 1942.15, 1213.8 ,
       1086.6 , 1632.75, 1734.  , 1857.06, 1863.41, 1457.82, 1955.88,
       1310.96, 1357.78, 1729.  , 1558.99, 1104.6 , 1721.73, 1295.06,
       1226.59, 1453.84, 1830.22, 1557.72,  845.25, 1352.4 , 1584.8 ,
       1129.04, 1759.2 ,  977.67, 1463.  , 1063.65, 1376.43, 1404.  ,
        710.2 , 1702.8 , 1194.84, 1007.14,  977.43, 1436.76,  759.46,
       1189.44,  683.8 , 1226.82,  974.82,  577.6 , 1106.93,  694.6 ,
       1152.06,  703.6 ,  834.67, 1801.94, 1209.6 , 1474.66, 1919.4 ,
       1847.  , 1851.  , 1711.22, 1729.65,  995.5 , 1560.47, 1112.94,
       1138.94, 1012.4 ,  913.92, 1161.12, 1764.75, 1690.9 , 1734.48,
        865.49,  828.36,  856.52, 1845.45, 1828.  , 1787.56, 1645.65,
       1338.12, 1346.4 , 1545.6 , 1639.22, 1350.  , 1742.4 ,  721.44,
       1489.41,  891.03, 1209.3 ,  859.14, 1151.44, 1336.44,  905.28,
       1247.4 ,  846.51, 1085.04, 1767.43, 1030.44, 1585.36,  813.2 ,
       1172.34, 1510.56, 1448.07, 1225.29, 1336.68, 1789.4 , 1082.1 ,
       1030.44, 1646.19, 1670.26, 1467.48, 1522.4 , 1356.4 , 1611.36,
       1496.25, 1884.  , 1867.  , 1611.4 , 1479.84, 1424.22, 1859.44,
       1596.76,  930.9 , 1207.44,  717.4 , 1066.75, 1554.  , 1277.64,
       1578.79,  917.7 ,  777.  , 1476.28, 1538.46,  891.2 , 1706.8 ,
       1373.6 , 1205.59, 1427.4 , 1649.28, 1383.03, 1229.51, 1140.48,
       1575.6 , 1386.72,  640.05, 1593.2 , 1788.  , 1891.56, 1987.74,
       1541.  , 1951.92, 1538.55, 1057.29, 1892.1 , 1707.14, 1785.51,
       1707.14, 1506.96, 1205.04, 1263.84, 1224.6 , 1359.4 , 1822.18,
       1591.98, 1910.84, 1630.6 , 1459.6 , 1716.22, 1900.26, 1988.28,
       1449.84, 1935.09, 1742.5 , 1735.92, 1671.52, 1576.74, 1459.6 ,
       1254.6 , 1888.95, 1152.58, 1991.6 , 1851.73, 1514.52, 1900.36,
       1974.06, 1755.13, 1697.3 , 1845.  , 1508.5 , 1757.91, 1968.12,
       1853.32, 1971.54, 1981.65, 1175.16, 1351.08, 1689.03, 1654.56,
       1528.58, 1013.48, 1442.26, 1163.05,  971.98,  902.66, 1295.97,
       1534.72, 1185.3 , 1698.78, 1381.05, 1340.46,  965.04, 1093.99,
       1717.64,  553.95,  652.35, 1939.8 , 1408.96, 1972.11, 1811.4 ,
       1656.69, 1962.09, 1657.76, 1716.26, 1808.4 , 1682.37, 1491.  ,
       1666.35, 1561.5 , 1543.3 , 1991.92, 1963.6 , 1858.  , 1883.93,
       1917.84, 1173.15, 1384.46, 1327.59, 1109.8 , 1239.  , 1035.58,
       1545.64, 1517.54, 1731.84, 1695.49, 1045.98, 1738.08,  651.8 ,
        988.47, 1518.11, 1013.76, 1549.8 , 1108.38, 1513.54, 1826.96,
       1206.9 , 1666.7 , 1560.44, 1103.76, 1385.28, 1621.62, 1931.65,
       1244.53, 1704.5 , 1753.2 , 1666.7 , 1710.89, 1727.1 , 1535.49,
       1329.4 , 1701.76,  925.3 ,  482.13, 1711.26, 1681.35, 1408.  ,
       1804.44, 1056.4 , 1988.4 , 1587.08, 1808.4 , 1193.04, 1575.96,
       1630.2 , 1701.28, 1228.2 , 1330.35, 1912.16, 1867.32, 1637.2 ,
       1320.8 , 1791.16, 1419.84, 1948.08, 1780.4 , 1483.02, 1591.72,
       1565.85, 1355.13, 1246.44,  820.4 , 1113.6 , 1763.86, 1896.66,
       1449.35, 1869.48, 1860.53, 1724.82, 1713.69, 1259.44, 1617.38,
       1765.62, 1796.34, 1979.6 , 1921.41, 1800.  , 1705.92, 1033.41,
       1779.71,  972.4 , 1968.3 , 1927.45, 1623.25, 1405.92, 1964.76,
       1366.8 , 1486.38, 1916.75, 1860.  , 1824.  , 1134.  , 1487.41,
       1942.77, 1372.14, 1958.84, 1933.5 , 1863.36, 1649.55, 1994.88,
       1210.8 , 1100.  , 1753.06, 1891.78, 1882.8 , 1089.36, 1930.5 ,
       1908.72, 1463.  , 1864.56, 1668.25, 1747.2 , 1740.  , 1777.6 ,
       1831.2 , 1902.4 , 1939.3 , 1747.9 , 1539.72, 1661.22, 1348.76,
        875.91, 1874.05, 1671.44, 1668.4 , 1459.92, 1209.59, 1416.39,
       1843.52, 1199.31, 1875.2 ,  948.99, 1823.42, 1485.8 , 1624.25,
       1367.48, 1122.4 , 1419.5 , 1724.97, 1846.42, 1804.04, 1192.56,
       1506.96, 1472.62, 1696.82, 1693.56, 1921.92])