In [1]:
import numpy as np
import pandas as pd

In [3]:
pwd

'/Users/joshua/Development/business-analysis/Tutorials'

In [6]:
cd ../data/brazilian-ecommerce

/Users/joshua/Development/business-analysis/Data/brazilian-ecommerce

In [7]:
ls

olist_customers_dataset.csv*	   olist_orders_dataset.csv*
olist_geolocation_dataset.csv*	   olist_products_dataset.csv*
olist_order_items_dataset.csv*	   olist_sellers_dataset.csv*
olist_order_payments_dataset.csv*  product_category_name_translation.csv*
olist_order_reviews_dataset.csv*

In [11]:
orders = pd.read_csv('olist_order_items_dataset.csv')

In [12]:
orders.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id', 'price',
       'freight_value'],
      dtype='object')

In [13]:
orders.seller_id.head()

0    48436dade18ac8b2bce089ec2a041202
1    dd7ddc04e1b6c2c614352b383efe2d36
2    5b51032eddd242adc84c38acab88f23d
3    9d7a1d34a5052409006425275ba1c2b4
4    df560393f3a51e74553ab94004ba5c87
Name: seller_id, dtype: object

In [21]:
orders_for_discount = orders[(orders.seller_id == '5b51032eddd242adc84c38acab88f23d') | (orders.seller_id == 'dd7ddc04e1b6c2c614352b383efe2d36') | (orders.seller_id == '48436dade18ac8b2bce089ec2a041202')]

In [22]:
orders_for_discount.head()

,order_id,order_item_id,product_id,seller_id,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.9,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.0,17.87
660,0188777fe321843a18be24a6e9aa1e53,1,436c8d57ff8d4aa254318e9bd9b48c83,48436dade18ac8b2bce089ec2a041202,55.9,9.94
669,0191bbb5166d4b9a68df11797d5acfa9,1,ec02a5d380128f7a188e9ce8f3ddd832,48436dade18ac8b2bce089ec2a041202,132.9,20.17

In [23]:
orders_for_discount.shape

(308, 6)

In [24]:
orders_for_discount.price.sum()

24730.219999999994

In [25]:
orders_for_discount.price.sum() * 0.05

1236.5109999999997