In [2]:
import hashlib
import pandas as pd
import numpy as np

In [3]:
!pwd

/Users/joshua/Development/business-analysis/Tutorials

In [4]:
%cd ../Data

/Users/joshua/Development/business-analysis/Data

In [5]:
!ls

BlackFriday.csv			purchases_by_vendor.xlsx
customer_data.xlsx		sales_data_sample.csv
government_purchase_orders.csv	sales_data_sample.xlsx
part_usage_trailing_12.xlsx	sales_data_sample_no_customer.xlsx

In [13]:
sheet_to_encrypt = 'sales_data_sample.xlsx'
column_to_encrypt = 'CUSTOMERNAME'
encrypted_column_name = 'CustomerHash'
save_directory = './'
filename = 'sales_encryption.csv'
save_path = save_directory + '/' + filename

In [14]:
xlsx = pd.ExcelFile(sheet_to_encrypt)
xlsx

In [15]:
sheets = xlsx.sheet_names
sheets

['sales_data_sample']

In [16]:
df = pd.read_excel(xlsx, sheets[0])
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2003-02-24,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,2003-05-07,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,2003-07-01,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,2003-08-25,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,4900.00,2003-10-10,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [17]:
df.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

In [18]:
def sha_256(x):
    return hashlib.sha256(str.encode(x)).hexdigest()[0:12]

In [19]:
sha_256('test')

'9f86d081884c'

In [20]:
df[encrypted_column_name] = [sha_256(i) for i in df[column_to_encrypt]]
df[[encrypted_column_name, column_to_encrypt]].head(20)

    CustomerHash                CUSTOMERNAME
0   e3d43de75cc6           Land of Toys Inc.
1   4671284bce78          Reims Collectables
2   6d18514c77d8             Lyon Souveniers
3   e64fa8fbe476           Toys4GrownUps.com
4   70b9841f5801    Corporate Gift Ideas Co.
5   0d70dc7f0339        Technics Stores Inc.
6   8626adf11f4e    Daedalus Designs Imports
7   c726fb8f224e                Herkku Gifts
8   22893cb50b27             Mini Wheels Co.
9   54e36df592c5            Auto Canal Petit
10  28c8fbc86931  Australian Collectors, Co.
11  3bcaa70b06b7             Vitachrome Inc.
12  0db94cefea19     Tekni Collectables Inc.
13  95721217953b             Gift Depot Inc.
14  320b47bf09e6           La Rochelle Gifts
15  72034aaa222b        Marta's Replicas Co.
16  959e6812d3b0        Toys of Finland, Co.
17  66441f4d88cb          Baane Mini Imports
18  212f84b84848       Diecast Classics Inc.
19  e3d43de75cc6           Land of Toys Inc.

In [21]:
df[encrypted_column_name][0] == df[encrypted_column_name][19]

True

In [22]:
df[encrypted_column_name].nunique() == df[column_to_encrypt].nunique()

True

In [23]:
del df[column_to_encrypt]

In [24]:
df.to_csv(save_path)