In [4]:
import numpy as np

### Indexing and Slicing

In [16]:
integer_array = np.arange(15)

In [17]:
integer_array = integer_array[::-1]
integer_array

array([14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0])

#### Pulling a value (Indexing)

In [18]:
integer_array[0]

14

In [19]:
integer_array[2]

12

In [20]:
integer_array[-1]

0

#### Pulling multiple values (slicing)

In [21]:
integer_array[:3]

array([14, 13, 12])

In [22]:
integer_array[3:]

array([11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0])

In [23]:
integer_array[1:3]

array([13, 12])

In [25]:
integer_array[1:3] = 0
integer_array

array([14,  0,  0, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0])

#### Modifying Slice Data

In [27]:
integer_slice = integer_array[1:3]
integer_slice[0] = 13
integer_array

array([14, 13,  0, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0])

### Multi-Dimensional Array Slicing

In [2]:
two_d_array = [[1,2,3],[4,5,6]]
two_d_array

[[1, 2, 3], [4, 5, 6]]

In [7]:
two_d_np_array = np.array([[1,2,3],[4,5,6],[7,8,9]])
two_d_np_array

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [8]:
two_d_np_array[0]

array([1, 2, 3])

In [10]:
two_d_np_array[0][1]

2

In [11]:
two_d_np_array[0,1]

2

In [9]:
two_d_np_array[:2]

array([[1, 2, 3],
       [4, 5, 6]])

In [12]:
two_d_np_array[:2,1:]

array([[2, 3],
       [5, 6]])

### Boolean Indexing

In [13]:
salespersons = np.array(['Jane', 'Joe', 'Bill', 'Susan', 'Bill', 'Joe', 'Bill'])

In [25]:
sales_by_quarter = np.array([[8875,4785,4485,2857],[9567,9374,2345,2586],[3875,7864,7868,6489],[8903,9838,2946,9953],[3788,7222,1698,2356],[9654,1234,9421,6777],[7843,4856,9444,7888]])

In [26]:
sales_by_quarter

array([[8875, 4785, 4485, 2857],
       [9567, 9374, 2345, 2586],
       [3875, 7864, 7868, 6489],
       [8903, 9838, 2946, 9953],
       [3788, 7222, 1698, 2356],
       [9654, 1234, 9421, 6777],
       [7843, 4856, 9444, 7888]])

In [27]:
salespersons == 'Bill'

array([False, False,  True, False,  True, False,  True])

In [28]:
sales_by_quarter[salespersons == 'Bill']

array([[3875, 7864, 7868, 6489],
       [3788, 7222, 1698, 2356],
       [7843, 4856, 9444, 7888]])

In [35]:
fourth_quarter_sales_by_bills = sales_by_quarter[salespersons == 'Bill',3]
fourth_quarter_sales_by_bills

array([6489, 2356, 7888])

In [38]:
all_but_fourth_quarter_sales_by_non_bills = sales_by_quarter[salespersons != 'Bill',:3]
all_but_fourth_quarter_sales_by_non_bills

array([[8875, 4785, 4485],
       [9567, 9374, 2345],
       [8903, 9838, 2946],
       [9654, 1234, 9421]])

In [42]:
women_sales = sales_by_quarter[(salespersons == 'Susan') | (salespersons == 'Jane')]
women_sales

array([[8875, 4785, 4485, 2857],
       [8903, 9838, 2946, 9953]])

In [45]:
sales_by_quarter[sales_by_quarter <= 5000] = 0
sales_by_quarter

array([[8875,    0,    0,    0],
       [9567, 9374,    0,    0],
       [   0, 7864, 7868, 6489],
       [8903, 9838,    0, 9953],
       [   0, 7222,    0,    0],
       [9654,    0, 9421, 6777],
       [7843,    0, 9444, 7888]])

In [48]:
sales_by_quarter[salespersons == 'Bill'] = 0
sales_by_quarter

array([[8875,    0,    0,    0],
       [9567, 9374,    0,    0],
       [   0,    0,    0,    0],
       [8903, 9838,    0, 9953],
       [   0,    0,    0,    0],
       [9654,    0, 9421, 6777],
       [   0,    0,    0,    0]])