In [2]:
import pandas as pd

In [5]:
!pwd

/Users/joshua/Development/business-analysis/Examples

In [6]:
!ls ../Data

 customer_data.xlsx	       sales_data_sample.xlsx
 part_usage_trailing_12.xlsx   sales_data_sample_no_customer.xlsx
 sales_data_sample.csv	      '~$part_usage_trailing_12.xlsx'

In [8]:
xlsx = pd.ExcelFile('../Data/part_usage_trailing_12.xlsx')

In [10]:
sheets = xlsx.sheet_names
sheets

['AMD-SYR', 'MX-ISE']

In [11]:
plant_1 = pd.read_excel(xlsx,sheets[0])
plant_2 = pd.read_excel(xlsx,sheets[1])

In [13]:
plant_1.head()

,Family,Part Number,Desc,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,...,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,Grand Total,Average Month,Unnamed: 23
0,AMD-SYR,H-032,SCREW HEX 8-32 X .50 TT,63333.0,62669.0,49093.0,67015.0,63097.0,54899.0,56857.0,...,60193.0,66494.0,65384.0,58745.0,63314.0,44280.0,11510.0,995583,59735.000000,716820.0
1,AMD-SYR,H-013,SCREW,38496.0,37168.0,28601.0,40619.0,37274.0,33038.0,34226.0,...,37369.0,38903.0,40782.0,35428.0,38415.0,28894.0,7066.0,608705,36631.833333,NaN
2,AMD-SYR,H-040,SCREW FLAT 5/16-18 X .875 TT,35148.0,34232.0,30600.0,40980.0,39813.0,34332.0,36040.0,...,32128.0,42520.0,34096.0,39116.0,38664.0,23253.0,6304.0,575858,34962.833333,NaN
3,AMD-SYR,H-087,COPPER TUBING (LEAD),33368.0,33149.0,22733.0,35541.0,36186.0,29655.0,31884.0,...,30680.0,36258.0,32521.0,28916.0,33353.0,25362.0,7690.0,535760,31181.666667,NaN
4,AMD-SYR,H-012,"SCREW, HEX, 5/16-18 X 1 TT",31972.0,32896.0,24300.0,28252.0,31560.0,27376.0,28532.0,...,29116.0,29332.0,32420.0,30208.0,29820.0,30592.0,6740.0,529672,30248.000000,NaN

In [14]:
plant_2.head()

,Family,Part Number,Desc,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,...,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,Grand Total,Average Month
0,MX-ISE,RVT1419,"RIVET 1/8 X 1/2 DOME HEAD, BREAK-STEM STEEL",15008.0,14272.0,13472.0,13168.0,11200.0,18280.0,9928.0,...,9440.0,13512.0,14312.0,12112.0,10616.0,12225.0,10007.0,1104.0,220744,12130.666667
1,MX-ISE,INS0128,"SCREW INSULATOR, NYLON (RIVET INSULATOR) #6X3/16",15008.0,14272.0,13472.0,13168.0,11200.0,18280.0,9928.0,...,9440.0,13512.0,14312.0,12112.0,10616.0,14840.0,7392.0,1104.0,220702,12130.666667
2,MX-ISE,BLT3168,"1/4-28X1.25 SOCKET HEAD CAP SCREW, ZINC-PLATED...",5412.0,6288.0,3654.0,9270.0,10752.0,4362.0,14868.0,...,5442.0,5568.0,6786.0,4476.0,8478.0,9330.0,7992.0,1206.0,126114,7105.000000
3,MX-ISE,WSH0239,"WASHER #10 SPLIT-RING LOCK, ZINC-PLATED (ANSI/...",7706.0,7476.0,6826.0,6710.0,5794.0,9480.0,5214.0,...,4888.0,6782.0,7292.0,6288.0,5388.0,7500.0,3776.0,560.0,113948,6171.000000
4,MX-ISE,SCR1638,10-32X.5 MACH SCREW,7504.0,7136.0,6736.0,6584.0,5600.0,9140.0,4964.0,...,4720.0,6756.0,7156.0,6056.0,5308.0,7420.0,3696.0,552.0,110372,6065.333333

In [18]:
usage = plant_1.merge(plant_2, how='outer', on='Part Number')

In [22]:
usage.columns

Index(['Family_x', 'Part Number', 'Desc_x', '2017-05_x', '2017-06_x',
       '2017-07_x', '2017-08_x', '2017-09_x', '2017-10_x', '2017-11_x',
       '2017-12_x', '2018-01_x', '2018-02_x', '2018-03_x', '2018-04_x',
       '2018-05_x', '2018-06_x', '2018-07_x', '2018-08_x', '2018-09_x',
       '2018-10_x', 'Grand Total_x', 'Average Month_x', 'Unnamed: 23',
       'Family_y', 'Desc_y', '2017-05_y', '2017-06_y', '2017-07_y',
       '2017-08_y', '2017-09_y', '2017-10_y', '2017-11_y', '2017-12_y',
       '2018-01_y', '2018-02_y', '2018-03_y', '2018-04_y', '2018-05_y',
       '2018-06_y', '2018-07_y', '2018-08_y', '2018-09_y', '2018-10_y',
       'Grand Total_y', 'Average Month_y'],
      dtype='object')

In [23]:
usage.head()

,Family_x,Part Number,Desc_x,2017-05_x,2017-06_x,2017-07_x,2017-08_x,2017-09_x,2017-10_x,2017-11_x,...,2018-03_y,2018-04_y,2018-05_y,2018-06_y,2018-07_y,2018-08_y,2018-09_y,2018-10_y,Grand Total_y,Average Month_y
0,AMD-SYR,H-032,SCREW HEX 8-32 X .50 TT,63333.0,62669.0,49093.0,67015.0,63097.0,54899.0,56857.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AMD-SYR,H-013,SCREW,38496.0,37168.0,28601.0,40619.0,37274.0,33038.0,34226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AMD-SYR,H-040,SCREW FLAT 5/16-18 X .875 TT,35148.0,34232.0,30600.0,40980.0,39813.0,34332.0,36040.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AMD-SYR,H-087,COPPER TUBING (LEAD),33368.0,33149.0,22733.0,35541.0,36186.0,29655.0,31884.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AMD-SYR,H-012,"SCREW, HEX, 5/16-18 X 1 TT",31972.0,32896.0,24300.0,28252.0,31560.0,27376.0,28532.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN