In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [55]:
xlsx = pd.ExcelFile('/Users/joshua/Data/sales_data.xlsx')
xlsx

In [56]:
sheets = xlsx.sheet_names
sheets

['so_tran']

In [57]:
df = pd.read_excel(xlsx, sheets[0])
df.head()

,sono,custno,cname,custpo,item,altitem,acustno,acustpo,acustname,cost,...,qtyshp,qtylft,qtybo,extprice,shipqty,seq,sostat,sotype,created,qtytoshp
0,170023,800,ANDERSON INSTRUMENT CO.,PO121654,BB1P111A08,55408A0000,NaN,NaN,NaN,0.06260,...,1000,0,0,160.00,0,1,C,O,2016-01-04,0
1,170022,800,ANDERSON INSTRUMENT CO.,PO123450,5115-15-H-ST,36605H0005,NaN,NaN,NaN,0.03893,...,74,0,0,5.51,0,1,C,O,2016-01-04,0
2,170020,800,ANDERSON INSTRUMENT CO.,PO123419,4778,42080A0001,NaN,NaN,NaN,0.42600,...,200,0,0,99.36,0,1,C,O,2016-01-04,0
3,170019,800,ANDERSON INSTRUMENT CO.,PO119193,36240S0505,36240S0505,NaN,NaN,NaN,0.02701,...,500,0,0,78.20,0,1,C,O,2016-01-04,0
4,170018,800,ANDERSON INSTRUMENT CO.,PO119386,44472B0001,44472B0001,NaN,NaN,NaN,0.19094,...,50,0,0,107.50,0,1,C,O,2016-01-04,0

In [58]:
df.columns

Index(['sono', 'custno', 'cname', 'custpo', 'item', 'altitem', 'acustno',
       'acustpo', 'acustname', 'cost', 'price', 'qtyord', 'qtyshp', 'qtylft',
       'qtybo', 'extprice', 'shipqty', 'seq', 'sostat', 'sotype', 'created',
       'qtytoshp'],
      dtype='object')

In [59]:
df.shape

(34489, 22)

In [65]:
data = df[['custno','item','qtyshp','cost']].copy()
data.head()

   custno          item  qtyshp     cost
0     800    BB1P111A08    1000  0.06260
1     800  5115-15-H-ST      74  0.03893
2     800          4778     200  0.42600
3     800    36240S0505     500  0.02701
4     800    44472B0001      50  0.19094

In [67]:
data['extended_price'] = (data.qtyshp * data.cost)
data.head()

   custno          item  qtyshp     cost  extended_price
0     800    BB1P111A08    1000  0.06260        62.60000
1     800  5115-15-H-ST      74  0.03893         2.88082
2     800          4778     200  0.42600        85.20000
3     800    36240S0505     500  0.02701        13.50500
4     800    44472B0001      50  0.19094         9.54700